<!DOCTYPE html>
<html>
<head>
    <title>AI:Catchphrase</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <img src="/static/logo.png" alt="BJSS AI:Catchphrase logo" style="width:200px;"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="image-container" width="732" height="564">
                            <img src="{{ catchphrase_image }}" alt="Catchphrase Image">
                            <div class="grid-container">
                                {% for box_number in range(9) %}
                                <a href="{{ url_for('box_clicked', box_number=box_number) }}">
                                    <div class="box"></div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        SCORE {{ catchprase_value }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-2 p1">
                P1 Score
                <div class="score">
                    £{{ p1_score }}
                </div>
            </div>
            <div class="col-md-2 p2">
                P2 Score
                <div class="score">
                    £{{ p2_score }}
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="background-color: lightgray;">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 BJSS</span>
        </div>

        <ul class="nav col-md-4 justify-content-centre list-unstyled d-flex">
            <button type="button" onclick="location.href='/newgame'">New Catchphrase</button>
            <button type="button" onclick="location.href='/reveal'">Reveal</button>

            {% for player_number in range(2) %}
                <button type="button" onclick="location.href='{{ url_for('award_player', player_number=player_number) }}'">Award Player {{player_number+1}}</button>
            {% endfor %}


        </ul>
      </footer>
</body>
</html>
